* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.black-block {
    background-color: #000;
    height: 1024px;
    color:#FFF;

    align-items: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    
}

.white-block {
    background-color: #FFF;
    width: 100%;
    height: 1024px;
    color: #000;
}

.green-block {
    background-color: #BBED2F;
    width: 100%;
    height: 1024px;
    color: #000;
    /* ------------ */
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image-block {
    background-image: url('../images/photo-show/FotoShow.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 1024px;
    color: #FFF;
}