.social-layout {
    margin-top: 64px;
    margin-left: 57px;
}

#margin-facebook {
    margin-left: 0;
}

#photo-donizeti {
    display: flex;
    width: 677px;
    height: 907px;
    flex-shrink: 0;
    margin-top: 117px;
    margin-left: 41px;

    border: 1px solid red;
}

#box-album {
    width: 158px;
    height: 778px;
    flex-shrink: 0;
    margin-top: 199px;
    margin-left: 99px;

    border: 1px solid red;
}

.album-layout {
    width: 158px;
    height: 169px;
    flex-shrink: 0;

    border: 1px solid red;
}

#margin-album {
    margin-top: 32px;
}