h1 {
    font-family: Century Gothic;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#subtitle{
    display: flex;
    width: 706px;
    height: 182px;
    flex-direction: column;
    flex-shrink: 0;
    border: 1px solid red;

    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2 {
    font-family: Century Gothic;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#text-green-typography{
    font-family: Century Gothic;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#block-title-white-typography {
    text-align: center;
    font-family: Century Gothic;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

#block-text-white-typography {
    text-align: center;
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
}

#text-contact-typography {
    flex-direction: column;
    flex-shrink: 0;

    font-size: 36px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#text-socials-typography {
    display: flex;
    width: 525px;
    height: 52px;
    flex-direction: column;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-family: Century Gothic;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 35px;
}