h1 {
    font-family: Century Gothic;
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#subtitle-typography{
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

h2 {
    font-family: Century Gothic;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: Century Gothic;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#text-green-typography{
    font-family: Century Gothic;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}